
{% extends 'youtube/base.html' %}
{% load static %}
{% load VideoCategory %}
{% block title %} Follow a Personality{% endblock %}
{% block extrastylesheet %}
<link rel="stylesheet" href="{% static 'youtube/css/home.css' %}">
<link rel="stylesheet" href="{% static 'youtube/css/parts_css/filter_dropdown.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<style>
    .hidden{
        display: none;
    }
    .show{
        display: block;
    }
</style>
{% endblock %}
{% block content %}
<div class="jumbotron text-left" style="margin-bottom:0">
    <h1>Hero Reads Here</h1>
    <p>Watch Your Favourite Videos Here</p> 
    <div>
        <button class="upper_section_buttons upper_section_buttons_active">Watch Now</button>
        <Button class="upper_section_buttons">More Details</Button>
    </div>
  </div>
  
<div class="upper_block_main">
    <h1></h1>
</div>

<div class="main_container" >
    <div class="main_container_header">
        <div><h1 class="categories_title"> Follow a Personality</h1></div>
        
    </div>
    
    <div class="videos_main_div {{i.category}}" >
        
    
       
    </div>
</div>
{% endfor %}
{% include 'youtube/JS_work/filtering_videos_javascript.html' %}
{% include 'youtube/JS_work/adding_data_on_scrolling_js.html' %}
{% endblock %}
{% block extrascript %}
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
<script src="{% static 'youtube/js/auto_complete.js' %}"></script>
<script src="{% static 'youtube/js/save_video.js' %}"></script>
<!-- <script src="{% static 'youtube/js/filtering_videos.js' %}"></script> -->

<script>
    $(".video_box_upper").click(function(){
  $(this).children('form').submit()
});


if ($('.videos_main_div').children().length == 0){
    console.log('Empty')
    $(this).siblings('h1').remove()
  //do something
} 
// ************************** Drop Down JS
function filter_dropdown(element) {
  $(element).siblings('div').toggleClass("show_filter_dropdown");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}






</script>


{% endblock %}



