
{% extends 'youtube/base.html' %}
{% load static %}
{% block title %} Video Player{% endblock %}
{% block extrastylesheet %}
<link rel="stylesheet" href="{% static 'youtube/css/video_player.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
{% endblock %}
{% block content %}
<div class="upper_block_main">
    <iframe class="iframe"  src="https://www.youtube.com/embed/{{video_id}}">
    </iframe>
</div>
<div class="lower_block container">
    <div class="video_title">
        <h5>{{video_title | safe}}</h5>
    </div>
    <div class="video_date" style="display: flex; justify-content: space-between; padding-right: 50%;">
        
            <p>{{ upload_date}}</p>
            <div class="d-flex statistics_block"><i class='bx bx-like nav_icon'></i><p> {{video_statistics.0.statistics.likeCount}}</p></div>
            <div class="d-flex statistics_block"><i class='bx bx-chat nav_icon'></i><p> {{video_statistics.0.statistics.commentCount}}</p></div>         
            <p class="views_stats"> {{video_statistics.0.statistics.viewCount}}  views </p>
        
        
    </div>
    <div class="video_desc">
        <div>
            <div>
                <img class="channel_profile_image" src="{{channel_profile}}" alt="{{video_title | safe}}" style="width:100px">
       
            </div>
        </div> 
        <div class="description_block">
            <div><h3 class="channel_title"> {{channel_title}}</h3></div>
            <!-- <div> <p>{{video_description | safe}}</p></div> -->
            <div> <h6 class="video_description_video_player">{{video_statistics.0.snippet.description|linebreaks|urlize }}</h6></div>
            
        </div>
           
    </div>
    
</div>
  
    
    
{% endblock %}


