.main_container{
  margin-top: 38px;
}
.main_container_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.videos_main_div{
  display: -webkit-box;
  overflow-x: scroll;
    justify-content: left; 
    align-items: center;

    margin-top: 10px;
}
.most_recent{
  display: -webkit-box;
  overflow-x: scroll;
    justify-content: left; 
    align-items: center;

    margin-top: 10px;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 3px !important;
  height: 7px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.categories_title{
  margin-left: 8px;
  margin-bottom: 0;
}
.video_box{
    /* cursor: pointer; */
    margin: 10px;
    /* height: 235px; */
    overflow-y: hidden;
    width: 20%;
}
.video_box_upper{
    cursor: pointer;
}
.video_title{
    
    font-size: 14px;
}
.channel_video_title{
  font-size: 11px;
}
.title_box{
    height: 60px;
    overflow: hidden;
}
.save_button{
    border: none !important;
    background: white;
}
.unsave_button{
    border: none !important;
    background: white;
}
.watch_list_block{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.playlist_main_div{

    display: block;
    overflow-x:scroll ;
}
.playlist_main_div::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .playlist_main_div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .playlist_sub_div{
    display: flex;
    justify-content: left;
  }

  .jumbotron{
    background: #919191;
  }
  .upper_section_buttons{
    border: 1px solid white;
    background: #919191;
    width: 161px;
    padding: 7px;
    color: white;
    margin-right: 10px;
  }
  .upper_section_buttons_active{
    color: black !important;
    background: white !important;
  }



  /* Message Box */
  .message_box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-style: italic;
  }


  /* Pre loader home page */
  .home_page_loader_block{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin-bottom: 40px;
  }
  .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #919191;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  